.inputs {
    margin-bottom: 12px;
}

.ingredients-container {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 5px;
}

.custom-dropdown-menu {
    z-index: 1070 !important;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    background-color: white;
}

.custom-dropdown-toggle {
    border: none !important;
    background-color: #f5e0b3 !important;
    color: #000 !important;
    box-shadow: none !important;
}

.icon-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

